src/strategy/strategy/Parameter/stand.ini merge=ours
src/strategy/strategy/Parameter/29.ini merge=ours
src/strategy/strategy/Parameter/config.js merge=ours
src/strategy/strategy/Parameter/stand.ini merge=ours
src/strategy/strategy/Parameter/29.ini merge=ours
src/strategy/strategy/Parameter/config.js merge=ours
